.markerLabel {
  position: absolute;
  bottom: 2rem; /* bottom-8 */
  left: 1.25rem; /* left-5 */
  text-align: left;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.35)); /* drop-shadow-md */
  background: rgba(0, 0, 0, 0.4); /* bg-black/40 */
  border-radius: 9999px; /* rounded-full */
  padding: 0.5rem; /* p-2 */
}

.mapCanvas {
  width: 100%;
  overflow: hidden;
}
